<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}<!-- block meta -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <link rel="stylesheet" href="www/static/css/uikit.min.css">
    <link rel="stylesheet" href="www/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="awesome.css">
    <script src="www/static/js/jquery.min.js"></script>
    <script src="www/static/js/sha1.min.js"></script>
    <script src="www/static/js/uikit.js"></script>
    <script src="www/static/js/sticky.min.js"></script>
    <script src="www/static/js/vue.min.js"></script>
    <script src="www/static/js/awesome.js"></script>
</head>
<body>
<nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
    <div class="uk-container uk-container-center">
        <
    </div>
</nav>
</body>
</html>